*/.idea/

DriverAppCordovaPlugin/src/.DS_Store

DriverAppCordovaPlugin/src/.DS_Store

DriverAppCordovaPlugin/src/iOS/.DS_Store

DriverAppCordovaPlugin/src/.DS_Store

DriverAppCordovaPlugin/src/iOS/.DS_Store

DriverApp/.DS_Store

DriverAppCordovaPluginiOS/src/.DS_Store

DriverAppCordovaPluginiOS/src/ios/.DS_Store
