<ion-modal-view class="modal-maintenance" ng-controller="MaintenanceCtrl">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Modalità manutenzione</h1>
    <!--<button class="button button-positive icon ion-close" ng-click="modalMaintenance.hide()"></button>-->
  </ion-header-bar>
  <ion-content class="has-header padding">
    <div ng-if="!showTutorial">
      <div>Per esplorare l'app PedibusSmart, guarda i nostri video:</div>
      <button class="button button-icon tut-vis" ng-click="visualizeTutorial()">VIDEO FAQ</button>
    </div>
    <div ng-if="showTutorial">
      <div class="slideTutorial">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
          <ion-slide ng-repeat="slide in tutorialSlides">
            <div class="box box1">
              <img src="{{slide.image}}" alt="Sensor Tag" />
              <!--            <div>{{slide.text}}</div>-->
            </div>
          </ion-slide>
        </ion-slide-box>

        <!--
        <div class="customSliderPager">
          <span class="customSlider-pager-page" ng-repeat="i in getCount(pager.total) track by $index" ng-class="{active: pager.current == $index}">
          <i class="icon ion-record"></i>
        </span>
        </div>
-->
        <div class="row">
          <div class="col">
            <button class="button button-icon ion-arrow-left-b  tut-prev" ng-click="prevSlide()" ng-if="!startTutorial"></button>
          </div>
          <div class="col">
            <div class="customSliderPager">
              <span class="customSlider-pager-page" ng-repeat="i in getCount(pager.total) track by $index" ng-class="{active: pager.current == $index}">
          <i class="icon ion-record"></i>
        </span>
            </div>
          </div>
          <div class="col">
            <button class="button button-icon  ion-arrow-right-b tut-next" ng-click="nextSlide()" ng-if="!endTutorial"></button>
            <button class="button button-icon ion-refresh tut-next" ng-click="startSlide()" ng-if="endTutorial"></button>
          </div>
        </div>
      </div>
      <div class="tutorial-text">
        {{currentText}}
      </div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <button class="button button-energized" ng-click="stopMaintenanceMode()">{{'ESCI'|uppercase}}</button>
  </ion-footer-bar>
</ion-modal-view>
