<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">Volontari</h1>
        <button class="button button-positive icon ion-close" ng-click="modalVolunteers.hide()"></button>
    </ion-header-bar>
    <ion-content class="has-header" ng-controller="VolunteersCtrl">
        <ion-list>
            <ion-item class="item-button-right item-volunteers" ng-repeat="v in volunteers | orderBy : ['surname', 'name']" ng-click="showVolunteerDetails(v)">
                {{v.name}}
                <!-- ng-href="tel:{{v.phone}}" -->
                <a class="button button-volunteers" ng-if="!!v.phone">
                    <i class="icon ion-ios-telephone"></i>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
