<ion-view title="Home">
    <!--<ion-nav-buttons side="right"></ion-nav-buttons>-->
    <ion-content class="padding">
        <div ng-if="!!schools">
            <h5>Scegli la scuola:</h5>
            <ion-list>
                <ion-item ng-repeat="school in schools" ng-click="chooseSchool(school)">
                    {{school.name}}
                </ion-item>
            </ion-list>
        </div>
        <div ng-if="!!school">
            <h5>Chi sei?</h5>
            <ion-list>
                <ion-item ng-repeat="volunteer in volunteers" ng-click="chooseVolunteer(volunteer)">
                    {{volunteer.name}}
                </ion-item>
            </ion-list>
        </div>
        <h1 ng-if="!!volunteer">Sei {{volunteer.name}}!</h1>
    </ion-content>
</ion-view>
