<ion-view view-title="{{route.name}}">
    <ion-nav-buttons side="right">
        <button class="button icon ion-person-add" ng-click="openModal()" ng-disabled="!!enRoute || enRouteArrived"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader padding-horizontal">
        <button class="button btn-enroute" ng-class="{'button-balanced': !enRoute, 'button-assertive': !!enRoute, 'button-outline': !enRoute && !!stops[enRoutePos].school}" ng-click="toggleEnRoute()">
            <span ng-if="!enRoute && !!stops[enRoutePos].start">Parti</span>
            <span ng-if="!!enRoute && !stops[enRoutePos + 1].school">Fermati</span>
            <span ng-if="!enRoute && !stops[enRoutePos].start && !stops[enRoutePos].school">Riparti</span>
            <span ng-if="!!enRoute && !!stops[enRoutePos + 1].school">Arriva</span>
            <span ng-if="!enRoute && !!stops[enRoutePos].school">Arrivato</span>
        </button>
    </div>
    <ion-content class="has-subheader padding-top padding-horizontal">
        <div>
            <ion-list>
                <ion-radio ng-repeat="stop in stops" ng-model="sel.stop" ng-value="stop" ng-change="getChildrenForStop(sel.stop)" ng-disabled="!!enRoute">
                    {{stop.name}}
                </ion-radio>
            </ion-list>
            <h4>Bambini</h4>
            <ion-list>
                <ion-item class="item-button-right" ng-repeat="passenger in sel.stop.passengers" ng-if="(onBoard.indexOf(passenger.objectId) === -1) && (onBoardTemp.indexOf(passenger.objectId) === -1)">
                    {{passenger.surname}} {{passenger.name}}
                    <button class="button" ng-click="takeOnBoard(passenger.objectId)" ng-disabled="!!enRoute || enRouteArrived">
                        <i class="icon ion-plus"></i>
                    </button>
                </ion-item>
            </ion-list>
            <h4>A bordo</h4>
            <ion-list>
                <ion-item class="item-button-right" ng-repeat="passengerId in onBoard">
                    {{getChild(passengerId).surname}} {{getChild(passengerId).name}}
                </ion-item>
                <ion-item class="item-button-right" ng-repeat="passengerId in onBoardTemp">
                    {{getChild(passengerId).surname}} {{getChild(passengerId).name}}
                    <button class="button" ng-click="dropOff(passengerId)" ng-disabled="!!enRoute || enRouteArrived">
                        <i class="icon ion-minus"></i>
                    </button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
