<ion-view view-title="{{route.name}}" class="route">
    <!--<ion-nav-buttons side="right">
        <button class="button icon ion-person-stalker route-title-button" ng-click="selectHelpersPopup()" ng-if="fromWizard" ng-disabled="enRoute || enRouteArrived"></button>
    </ion-nav-buttons>-->
    <ion-header-bar class="bar bar-subheader bar-buttons">
        <!-- TODO ng-if="fromWizard" -->
        <button class="button button-energized" ng-click="selectChildrenPopup()" ng-disabled="enRouteArrived">
            Aggiungi bambino
        </button>
        <button class="button button-energized" ng-click="selectHelpersPopup()" ng-disabled="enRouteArrived">
            Accompagnatori
        </button>
    </ion-header-bar>
    <ion-header-bar class="bar bar-sub-subheader bar-calm">
        <button class="button icon ion-android-arrow-dropleft-circle" ng-click="viewPrevious()" ng-disabled="enRouteArrived" ng-if="viewPos != 0"></button>
        <div class="title title-center">{{sel.stop.name}}</div>
        <button class="button icon ion-android-arrow-dropright-circle" ng-click="viewNext()" ng-disabled="enRouteArrived" ng-if="viewPos != enRoutePos"></button>
        <button class="button button-light button-go" ng-click="goNext($event)" ng-disabled="enRouteArrived" ng-if="viewPos == enRoutePos">
            <span ng-if="(enRoutePos + 1) < stops.length">Vai</span>
            <span ng-if="(enRoutePos + 1) >= stops.length">Arriva</span>
        </button>
    </ion-header-bar>
    <ion-content class="route-view" ng-class="{'has-sub-subheader': fromWizard}" scroll="false">
        <div>
            <div>
                <!--<ion-scroll delegate-handle="passengersHandle" scroll-height ng-class="{'passenger-list': (!mergedOnBoard || mergedOnBoard.length == 0), 'passenger-list-resized': mergedOnBoard.length == 1, 'passenger-list-resized-xs': mergedOnBoard.length > 1}">-->
                <ion-scroll delegate-handle="passengersHandle" scroll-height class="passenger-list" ng-style="passengersPanelStyle">
                    <!-- wsnId -->
                    <ion-item class="item item-avatar item-button-right item-route-passenger" ng-repeat="passenger in sel.stop.passengers | orderBy : ['surname', 'name']" ng-if="(onBoard.indexOf(passenger.objectId) === -1) && (onBoardTemp.indexOf(passenger.objectId) === -1)" ng-click="showChildDetails(passenger)">
                        <img class="item-route-passenger-img" ng-src="{{!!passenger.imageUrl ? passenger.imageUrl : 'img/placeholder_child.png'}}" />
                        <img class="has-wsnid" ng-if="!!passenger.wsnId" ng-src="img/rt_it.png" />
                        {{passenger.surname}} {{passenger.name}}
                        <button class="button button-energized button-clear button-takeonboard" ng-click="takeOnBoard(passenger.objectId)" ng-disabled="enRouteArrived" ng-if="fromWizard">
                            <i class="icon ion-ios-checkmark"></i>
                        </button>
                    </ion-item>
                </ion-scroll>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar ng-if="fromWizard && mergedOnBoard.length > 0">
        <div class="on-board-panel">
            <div class="on-board-panel-title">
                <span class="name">A BORDO</span>
                <span class="counter">{{onBoard.length + onBoardTemp.length}} {{(onBoard.length + onBoardTemp.length) == 1 ? 'BAMBINO' : 'BAMBINI'}}</span>
            </div>
            <ion-scroll direction="y">
                <div class="route-row" ng-repeat="onBoardRow in mergedOnBoard">
                    <div class="route-on-board" ng-repeat="passengerId in onBoardRow" ng-init="passenger = getChild(passengerId.id)" ng-click="showChildDetails(passenger)">
                        <div class="route-on-board-image" ng-style="{{!!passenger.imageUrl ? {'background-image': 'url(\'' + passenger.imageUrl + '\')'} : {} }}"></div>
                        <!--ng-style="getChildBg(passenger)"-->
                        <div class="route-on-board-content">{{passenger.surname}} {{passenger.name}}</div>
                        <!--<button class="button button-trasparent passenger-remove" ng-click="dropOff(passengerId.id)" ng-if="passengerId.tmp" ng-disabled="enRouteArrived">-->
                        <button class="button button-trasparent passenger-remove" ng-class="{'passenger-remove-prev': !passengerId.tmp}" ng-click="dropOff(passengerId, $event)" ng-disabled="enRouteArrived">
                            <i class="icon ion-minus-circled"></i>
                        </button>
                        <div class="on-board has-wsnid" ng-if="passenger.wsnId">
                            <img ng-src="img/rt_it.png"></i>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
    </ion-footer-bar>
</ion-view>
