<?xml version="1.0" encoding="utf-8"?>
    <!-- <plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="it.smartcommunitylab.climb.dap" version="0.1.0"> -->
<plugin id="it.smartcommunitylab.climb.dap" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

        <name>CLIMBDriverAppPlugin</name>

        <engines>
            <engine name="cordova" version=">=5.1.0" />
        </engines>

        <js-module src="www/driver-app-plugin.js" name="DriverAppPlugin">
            <clobbers target="DriverAppPlugin" />
        </js-module>

        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="DriverAppPlugin">
                    <param name="ios-package" value="DriverAppPlugin" />
                    <!-- <param name="ios-package" value="it.smartcommunitylab.climb.dap.DriverAppPlugin" /> -->
                    <param name="onload" value="true" />
                </feature>
            </config-file>
            <!-- iOS source files for the plugin -->
            <header-file src="src/ios/Bridging-Header.h" />
            <source-file src="src/ios/Utilities.swift" />
            <source-file src="src/ios/DisplayPeripheral.swift" />
            <source-file src="src/ios/ClimbLogger.swift" />
            <source-file src="src/ios/DriverAppPlugin.swift" />
            <source-file src="src/ios/NodeState.swift" />

            <framework src="CoreBluetooth.framework" />

            <config-file target="*-Info.plist" parent="UIBackgroundModes">
              <array>
                <string>BLEScanner</string>
              </array>
            </config-file>
        </platform>

        <!-- <dependency id="cordova-plugin-add-swift-support" url="https://github.com/akofman/cordova-plugin-add-swift-support"/> -->
    </plugin>
