<div class="data-sent-popup">
    <div class="row row-center">
        <div class="col">
            <div class="data-sent-title"> I dati sono stati inviati con successo!
            </div>
        </div>
    </div>
    <div class="row row-center">
        <div class="col">
            <img class="img-bruco" src="img/bruco_domani.png">
        </div>
    </div>
    
    <div class="row row-center">
        <div class="col">
            <div class="data-sent-content">
                Ora puoi chiudere l’app o iniziare un nuovo percorso!
            </div>
        </div>
    </div>
</div>