<?xml version="1.0" encoding="utf-8"?>
    <plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="it.smartcommunitylab.climb.dap" version="0.1.0">

        <name>CLIMBDriverAppPlugin</name>

        <engines>
            <engine name="cordova" version=">=5.1.0" />
        </engines>

        <js-module src="www/driver-app-plugin.js" name="DriverAppPlugin">
            <clobbers target="DriverAppPlugin" />
        </js-module>

        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="DriverAppPlugin">
                    <param name="ios-package" value="DriverAppPlugin" />
                    <!-- <param name="ios-package" value="it.smartcommunitylab.climb.dap.DriverAppPlugin" /> -->
                    <param name="onload" value="true" />
                </feature>
            </config-file>
            <!-- iOS source files for the plugin -->
            <header-file src="src/ios/Bridging-Header.h" />
            <source-file src="src/ios/Utilities.swift" />
            <source-file src="src/ios/DisplayPeripheral.swift" />
            <source-file src="src/ios/ClimbLogger.swift" />
            <source-file src="src/ios/DriverAppPlugin.swift" />
            <source-file src="src/ios/ClimbBeaconService.swift" />
            <source-file src="src/ios/Eddystone.swift" />
            <source-file src="src/ios/ClimbNode.swift" />
            <source-file src="src/ios/AES256CBC.swift" />
            <source-file src="src/ios/Base64.swift" />
            <source-file src="src/ios/BaseDestination.swift" />
            <source-file src="src/ios/ConsoleDestination.swift" />
            <source-file src="src/ios/FileDestination.swift" />
            <source-file src="src/ios/Filter.swift" />
            <source-file src="src/ios/GoogleCloudDestination.swift" />
            <source-file src="src/ios/SBPlatformDestination.swift" />
            <source-file src="src/ios/SwiftyBeaver.swift" />

            <framework src="CoreBluetooth.framework" />

            <config-file target="*-Info.plist" parent="UIBackgroundModes">
              <array>
                <string>BLEScanner</string>
              </array>
            </config-file>
        </platform>

        <platform name="android">
            <config-file target="AndroidManifest.xml" parent="/manifest/application">
          		<service android:name="fbk.climblogger.ClimbSimpleService" android:enabled="true" android:exported="false"></service>
          	</config-file>

            <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
                <uses-permission android:name="android.permission.BLUETOOTH" />
                <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
                <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
                <uses-permission android:name="android.permission.VIBRATE" />

<!-- 
                <intent-filter>
        			<action android:name="fbk.climblogger.ClimbSimpleService" />
    			</intent-filter>
 -->
            </config-file>

            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="DriverAppPlugin">
                    <param name="android-package" value="it.smartcommunitylab.climb.dap.DriverAppPlugin" />
                    <param name="onload" value="true" />
                </feature>
            </config-file>

            <source-file src="src/android/it/smartcommunitylab/climb/dap/DriverAppPlugin.java" target-dir="src/it/smartcommunitylab/climb/dap" />
            <source-file src="src/android/fbk/climblogger/ClimbNode.java" target-dir="src/fbk/climblogger" />
            <!--<source-file src="src/android/fbk/climblogger/ClimbService.java" target-dir="src/fbk/climblogger" />-->
            <source-file src="src/android/fbk/climblogger/ClimbSimpleService.java" target-dir="src/fbk/climblogger" />
            <source-file src="src/android/fbk/climblogger/ClimbServiceInterface.java" target-dir="src/fbk/climblogger" />
            <source-file src="src/android/fbk/climblogger/ConfigVals.java" target-dir="src/fbk/climblogger" />
            <source-file src="src/android/fbk/climblogger/MonitoredClimbNode.java" target-dir="src/fbk/climblogger" />

            <!-- <lib-file src="src/android/libs/gcm.jar" /> -->
        </platform>
    </plugin>
