<?xml version="1.0" encoding="utf-8"?>
    <plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="it.smartcommunitylab.climb.dap" version="0.1.0">

        <name>CLIMBDriverAppPlugin</name>

        <engines>
            <engine name="cordova" version=">=5.1.0" />
        </engines>

        <js-module src="www/driver-app-plugin.js" name="DriverAppPlugin">
            <clobbers target="DriverAppPlugin" />
        </js-module>

        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="DriverAppPlugin">
                    <param name="android-package" value="it.smartcommunitylab.climb.dap.DriverAppPlugin" />
                    <param name="onload" value="true" />
                </feature>
            </config-file>

            <source-file src="src/android/DriverAppPlugin.java" target-dir="src/it/smartcommunitylab/climb/dap" />
        </platform>
    </plugin>
